@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	  scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

.top-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

#navbar{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	padding: .8rem 5rem;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
	background: black;
}


.navbar .navbar-brand{
	font-size: 25px;
	font-weight: 800;
	color: #29f700!important;
}

#collapsibleNavbar a{
	border-bottom: 2px solid transparent;
}

#collapsibleNavbar a:hover{
	border-bottom: 2px solid #29f700;
}

#collapsibleNavbar .active a{
	border-bottom: 2px solid #29f700;
}

.btn-color{
	background: #29f700;
	border-radius: 8px;
	font-weight: 700;
}

.navbar .nav-item{
	padding: 0px 1rem;
}


/********* Modal css ************/

.modal-header .close {
    margin-left: 0px;
    padding-top: 25px;
}

.modal-body{
	padding: 2rem;
}

/**************** slider ******************/

section{
	width: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ==== Main CSS === */
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
  height:100vh;
  background:#000;
}

.Modern-Slider .item .img-fill .info{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background:rgba(0,0,0,.50);
  line-height:100vh;
  text-align:center;
}

.Modern-Slider .item .img-fill img{
  filter:blur(0px);
}

.Modern-Slider .item .info > div{
  display:inline-block!important;
  vertical-align:middle;
}

.Modern-Slider .NextArrow{
  position:absolute;
  top:50%;
  right:0px;
  width:45px;
  height:45px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:20px/45px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
  position:absolute;
  top:50%;
  left:0px;
  width:45px;
  height:45px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:20px/45px FontAwesome;
  color:#FFF;
  z-index:5;
}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .slick-dots{
  position:absolute;
  height:5px;
  background:rgba(255,255,255,.20);
  bottom:0px;
  width:100%;
  left:0px;
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.Modern-Slider .slick-dots li button{display:none;}
.Modern-Slider .slick-dots li{
  float:left;
  width:0px;
  height:5px;
  background:#d62828;
  position:absolute;
  left:0px;
  bottom:0px;
}

.Modern-Slider .slick-dots li.slick-active{
  width:100%;
  animation:ProgressDots 11s both;
}

.Modern-Slider .item h3{
  font:30px/50px RalewayB;
  text-transform:uppercase;
  color:#FFF;
  animation:fadeOutRight 1s both;
  margin:0;
  padding:0;
}

.Modern-Slider .item h5{
  margin:0;
  padding:0;
  font:15px/30px RalewayR;
  color:#FFF;
  max-width:600px;
  overflow:hidden;
  height:60px;
  animation:fadeOutLeft 1s both;
}

.Modern-Slider .item.slick-active h3{
  animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h5{
  animation:fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active{
  animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider {background:#000;}

/* ==== Slider Image Transition === */
@keyframes Slick-FastSwipeIn{
    0%{transform:rotate3d(0,1,0,150deg) scale(0)  perspective(400px);} 
    100%{transform:rotate3d(0,1,0,0deg) scale(1) perspective(400px);} 
}

@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}

/*=========================================================*/

/**************** Why us css *******************/

.section-head {
  margin-bottom: 60px;
}
.section-head h4 {
  position: relative;
  padding:0;
  color:#f91942;
  line-height: 1;
  letter-spacing:0.3px;
  font-size: 34px;
  font-weight: 700;  
  text-align:center;
  text-transform:none;
  margin-bottom:30px;
}
.section-head h4:before {
  content: '';
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right:0;  
  margin:0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color:#2f2f2f
}
p.service_text{
  color:#cccccc !important;
  font-size:16px;
  line-height:28px;
  text-align:center;    
}
.section-head p, p.awesome_line{
  color:#818181;
  font-size:16px;
  line-height:28px;
  text-align:center;  
}

.extra-text {
    font-size:34px;
    font-weight: 700;
    color:#2f2f2f;
    margin-bottom: 25px;
    position:relative;
    text-transform: none;
}
.extra-text::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #f91942;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}
.extra-text span {
    font-weight: 700;
    color:#f91942;
}
.item-1 {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    -webkit-box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    box-shadow:0 0px 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border:5px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 30px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
    height: 300px;
}
.item-1:hover{
    background:#f91942;
    box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item-1:hover .item-1, .item-1:hover span.icon{
    background:#fff;
    border-radius:10px;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item-1:hover h6, .item-1:hover p{
    color:#fff;
    -webkit-transition: all .5s ease 0;
    transition: all .5s ease 0;
    transition: all 0.5s ease 0s;
}
.item-1 .icon {
    font-size: 40px;
    margin-bottom:25px;
    color: #f91942;   
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}
.item-1 .feature_box_col_one{
    background:rgba(247, 198, 5, 0.20);
    color:#f91942;
    padding: 10px;
}
.item-1 .feature_box_col_two{
    background:rgba(255, 77, 28, 0.15);
    color:#f91942;
    padding: 10px;
}
.item-1 .feature_box_col_three{
    background:rgba(0, 147, 38, 0.15);
    color:#f91942;
    padding: 10px;
}
.item-1 p{
    font-size:15px;
    line-height:26px;
}
.item-1 h6 {
    margin-bottom:20px;
    color:#2f2f2f;
}
.mission p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
}
.mission i {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #f91942;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
}
.mission .small-text {
    margin-left: 10px;
    font-size: 13px;
    color: #666;
}
.skills {
    padding-top:0px;
}
.skills .prog-item {
    margin-bottom: 25px;
}
.skills .prog-item:last-child {
    margin-bottom: 0;
}
.skills .prog-item p {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius:20px;
    position: relative;
}
.skills .prog-item .skills-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #f91942;
    width: 10%;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 10px;
    font-weight:600;    
    color: #fff;
    background:rgba(0, 0, 0, 0.9);
    padding: 3px 7px;
    border-radius: 30px;
}

/*===================== Top button css =====================*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f91942;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition-duration: 1s;
}

#myBtn:hover {
  background-color:  #29f700;
}

/*======================================================>*/


/*==================== Photo Collage =========================*/
.first-img{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

/*===========================testimonial================================*/


.section-eight{padding: 20px 0 0px 0;margin-top:0px;position: relative;}
	.op-eight-section{position: relative;}
	.sec-eight-text-area{text-align: center;padding: 100px 0 240px;}
	.sec-eight-text-area img{padding: 2vh 0;}
	.sec-eight-text-area h1{padding: 2vh 0 3vh 0;color: #434C57;
    line-height: 1.3;
    font-size: 40px;
    font-family: amaticSC;
    letter-spacing: 2px;
    padding-bottom: 30px;}
	.sec-eight-text-area p{padding: 2vh 0;font-size: 14px;line-height: 1.6;color: #434C57;font-family: mavenpro;}
	.section-eight .container-pe-quote {position: absolute;height: 100%;top: 0px;z-index: 1;}
	.section-eight .container-pe-quote.left {left: 0px;}
	.section-eight .container-pe-quote.right {right: 0px;}
	.section-eight .container-pe-quote .pp-quote {
	    cursor: pointer;
	    position: absolute;
	    border-radius: 100%;
	    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
	    animation-name: floating;
	    -webkit-animation-name: floating;
	    animation-iteration-count: infinite;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;
	    animation-timing-function: linear;
	    -webkit-transform-origin: 50% 1px;
	    -moz-transform-origin: 50% 1px;
	    -ms-transform-origin: 50% 1px;
	    -o-transform-origin: 50% 1px;
	    transform-origin: 50% 1px;
	    opacity: 0;
	    -webkit-transition: all 2s ease;
	    -moz-transition: all 2s ease;
	    -ms-transition: all 2s ease;
	    -o-transition: all 2s ease;
	    transition: all 2s ease;
	}
	.container-pe-quote .pp-quote img {
	    overflow: hidden;
	    border-radius: 100%;
	    height: 100%;
	    width: 100%;	    
	    position: relative;
	    z-index: 1;
	}
	.section-eight .container-pe-quote .pp-quote:after {
	    content: '';
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    height: calc(100% + 5px);
	    width: calc(100% + 5px);
	    border-radius: 100%;
	    background-color: #7fb3e4;
	    -webkit-transform: translate(-50%, -50%) scale(0.9);
	    -moz-transform: translate(-50%, -50%) scale(0.9);
	    -ms-transform: translate(-50%, -50%) scale(0.9);
	    -o-transform: translate(-50%, -50%) scale(0.9);
	    transform: translate(-50%, -50%) scale(0.9);
	    -webkit-transition: all .25s ease;
	    -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	    -o-transition: all .25s ease;
	    transition: all .25s ease;
	}
	.container-pe-quote .pp-quote:hover:after, .container-pe-quote .pp-quote.active:after {
	    -webkit-transform: translate(-50%, -50%) scale(1);
	    -moz-transform: translate(-50%, -50%) scale(1);
	    -ms-transform: translate(-50%, -50%) scale(1);
	    -o-transform: translate(-50%, -50%) scale(1);
	    transform: translate(-50%, -50%) scale(1);
	}
	.section-eight .container-pe-quote .li-quote-1 {
	    height: 104px;
	    width: 104px;
	    left: 15px;
	    top: 95px;
	    animation-duration: 10s;
	    -webkit-animation-duration: 10s;
	    -webkit-transition-delay: 0.6s;
	    transition-delay: 0.6s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-2 {
	    height: 63px;
	    width: 63px;
	    left: 120px;
	    top: 270px;
	    animation-duration: 12s;
	    -webkit-animation-duration: 12s;
	    -webkit-transition-delay: 0s;
	    transition-delay: 0s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-3 {
	    height: 64px;
	    width: 64px;
	    left: 68px;
	    top: 380px;
	    animation-duration: 6s;
	    -webkit-animation-duration: 6s;
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-4 {
	    height: 73px;
	    width: 73px;
	    right: -15px;
	    top: 110px;
	    animation-duration: 5s;
	    -webkit-animation-duration: 5s;
	    -webkit-transition-delay: 0.7s;
	    transition-delay: 0.7s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-5 {
	    height: 73px;
	    width: 73px;
	    right: 28px;
	    top: 265px;
	    animation-duration: 8s;
	    -webkit-animation-duration: 8s;
	    -webkit-transition-delay: 0.4s;
	    transition-delay: 0.4s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-6 {
	    height: 45px;
	    width: 45px;
	    right: 108px;
	    top: 170px;
	    animation-duration: 7s;
	    -webkit-animation-duration: 7s;
	    -webkit-transition-delay: 0.2s;
	    transition-delay: 0.2s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-7 {
	    height: 48px;
	    width: 48px;
	    right: 40px;
	    top: 414px;
	    animation-duration: 7s;
	    -webkit-animation-duration: 7s;
	    -webkit-transition-delay: 0.3s;
	    transition-delay: 0.3s;
	    opacity: 1;
	}
	.section-eight .container-pe-quote .li-quote-8 {
	    height: 63px;
	    width: 63px;
	    left: 20px;
	    top: 250px;
	    animation-duration: 5s;
	    -webkit-animation-duration: 5s;
	    -webkit-transition-delay: 0s;
	    transition-delay: 0s;
	    opacity: 1;
	}

@keyframes floating{

	0% {
	    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    transform: rotate(0deg) translate(-10px) rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    transform: rotate(360deg) translate(-10px) rotate(-360deg);
	}

}
@-webkit-keyframes floating{

	0% {
	    -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -moz-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -ms-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    -o-transform: rotate(0deg) translate(-10px) rotate(0deg);
	    transform: rotate(0deg) translate(-10px) rotate(0deg);
	}
	100% {
	    -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -moz-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -ms-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    -o-transform: rotate(360deg) translate(-10px) rotate(-360deg);
	    transform: rotate(360deg) translate(-10px) rotate(-360deg);
	}

}

.section-eight .container-quote {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: 135px;
    -webkit-perspective: 10000px;
    -moz-perspective: 10000px;
    -ms-perspective: 10000px;
    perspective: 10000px;
}
.section-eight .container-quote .quote {
    max-width: 520px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 50%;
    cursor: pointer;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    -moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    -o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
}
	.section-eight .container-quote .quote.hide-bottom {
	    opacity: 0;
	    -webkit-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    -moz-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    -ms-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    -o-transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	    transform: translateX(-50%) translateY(100%) rotateX(-70deg);
	}
	.section-eight .container-quote .quote.hide-top {
	    opacity: 0;
	    -webkit-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    -moz-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    -ms-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    -o-transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	    transform: translateX(-50%) translateY(-100%) rotateX(70deg);
	}
	.section-eight .container-quote .quote.show {
	    opacity: 1;
	    -webkit-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    -moz-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    -ms-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    -o-transform: translateX(-50%) translateY(0%) rotateX(0deg);
	    transform: translateX(-50%) translateY(0%) rotateX(0deg);
	}


	.section-eight .container-dp-name {
	    position: relative;
	    width: 100%;
	    margin-top: 10px;
	    height: 225px;
	    -webkit-perspective: 10000px;
	    -moz-perspective: 10000px;
	    -ms-perspective: 10000px;
		perspective: 10000px;text-align: center;
	}
	.section-eight .container-dp-name .box-dpname {
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0px;
	    left: 0;
	    cursor: pointer;
	    text-align: center;
	    -webkit-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	    -moz-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	    -o-transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
	}
	.section-eight .container-dp-name .box-dpname.hide-dp-bottom {
	    opacity: 0;
	    -webkit-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    -moz-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    -ms-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    -o-transform: translateX(0%) translateY(100%) rotateX(-70deg);
	    transform: translateX(0%) translateY(100%) rotateX(-70deg);
	}
	.section-eight .container-dp-name .box-dpname.hide-dp-top {
	    opacity: 0;
	    -webkit-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    -moz-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    -ms-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    -o-transform: translateX(0%) translateY(-100%) rotateX(70deg);
	    transform: translateX(0%) translateY(-100%) rotateX(70deg);
	}
	.section-eight .container-dp-name .box-dpname.look {
	    opacity: 1;
	    -webkit-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    -moz-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    -ms-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    -o-transform: translateX(0%) translateY(0%) rotateX(0deg);
	    transform: translateX(0%) translateY(0%) rotateX(0deg);
	}

@media screen and (max-width:767px){
  .sec-eight-text-area{    padding: 10px 0 10px 0;}
  .section-eight .container-pe-quote{position: relative;height: 500px;top: 0px;z-index: 1;max-width: 300px;margin: -70px auto 0;}
}
@media screen and (max-width:480px){
  .section-eight{position: relative;}
	.section-eight .bottom-ani-cs{    position: absolute;top: 150px;right: 16px;}	
	.section-eight .container-pe-quote .li-quote-2 {left: 60px;top: 270px;}
	.section-eight .container-pe-quote .li-quote-6 { right: 100px;top: 179px;}
	.section-eight .container-pe-quote .li-quote-8 {height: 43px;width: 43px;left: 0px;top: 220px;}
	.section-eight .container-pe-quote .li-quote-3{left: 0;}
	.section-eight .container-quote{height: 205px;overflow: hidden;overflow-y: auto;}
	.sec-eight-text-area{padding: 10px 0 10px 0;}
}

#section5{
	display: block !important;
}

#sec-head{
	margin-bottom: 0px;
}
.sec-eight-text-area {
    text-align: center;
    padding: 50px 0 0px;
}
/************ client *****************/

#ourclients {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background:#f9f9f9;
  padding-bottom:30px;
  height:150px;
}
#ourclients .clients-wrap {
  display: block;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
#ourclients .clients-wrap ul {
  display: block;
  list-style: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#ourclients .clients-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 220px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
#ourclients .clients-wrap ul li img {
  vertical-align: middle;
  max-width: 100%;
  width:150px;
  max-height: 100%;
  -webkit-transition: 0 linear left;
  -moz-transition: 0 linear left;
  transition: 0 linear left;
}
#ourclients h3{
	border-bottom:2px solid #3399ff;
	width:150px;
	padding:10px;
}

/************* Blog *******************/

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
}

.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: beige;
  color: black;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
  text-decoration: none;
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

/*.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}*/
.cover{
	margin-top: 25px;
}

/* MEDIA QUERIES */
/*@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}*/

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/***************************************footer*************************************/
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*============== Breadcrumbs ==============*/


.quote1{
  display: flex;
  align-items: center;
  justify-content: center;
   background: linear-gradient(45deg,#cc2b5e,#753a88);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  height: 250px;
  margin-top: 80px;
}

.quote1 h1.text{
  font-size: 4.50vw;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-align: center; 
  color: #fff;
}

@media only screen and (max-width: 767.99px){
    .quote1{
        margin-top: 70px!important;
    }
}

.footer-txt-logo{
	    font-size: 25px;
    font-weight: 800;
    color: #29f700!important;
}

#box-at{
	border-radius: 25px;
}

/*=========slider===========*/

:root{
  --cr1:#F36E45;
  --cr2:#fff;
  --cr3:#000000da;
  --cr4:#000000a1;
  --cr5:#BEB4B1;
  --fs1:34px;
  --fs2:24px;
  --fs3:20px;
  --fs4:16px;
  --fs5:14px;
}
.bg-at {
  background: linear-gradient(12deg, #7dc95b, #a8e063);
}
/* the same attribute */
.cr1{
  color: var(--cr1);
}
.c2{
  color:  var(--cr2);
}
.cr3{
  color:  var(--cr3);
}
.cr4{
  color:  var(--cr4);
}
.cr5{
  color:  var(--cr5);
}
.fs1{
  font-size: 34px;
}
.fs2{
  font-size: 24px;
}
.fs3{
  font-size: 20px;
}
.fs4{
  font-size: 16px;
}
.fs5{
  font-size: 14px;
}
/* end the same attribute */
@font-face {
  src: url(ProductSansRegular_0.ttf);
  font-family: product;
}

.bg-product{
  /* SET Height cho nó rồi bảo sao ko lỗi? */
  /*height: 446px;*/
  background: linear-gradient(12deg, #7dc95b, #a8e063);
  /* overflow: hidden; */
}
#sliderproduct{
  width: 100%;
}
#sliderproduct .carousel-inner {
  overflow: visible;
}

#sliderproduct .col-sm-6.image {
  background: #fff;
  box-shadow: 0px 4px 8px 0px #959595;
  position: relative;
  /* Thêm cái của nợ này vào bảo sao nó ko tràn bờ đê */
  /*top: -44px;
  padding: 100px;
  padding-top: 40px;*/
}
.image .item {
    padding: 20px 20px 40px 20px;
}

.col-sm-6.image .item img.img-fluid {
  /* Ai mướn thêm cái vào làm phá bố cục css của người ta.. mún trang web đẹp thì phải lựa cái ảnh đẹp đẹp vào rồi set cái độ rộng cho nó vừa là được rồi */
  /*min-width: 100%;*/
  width: 315px;
}
.col-sm-6.image h1 {
  margin-bottom: 20px;
}


#sliderproduct .top a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  padding: 14px 22px;
  background: #e0794f;
  box-sizing: border-box !important;
  text-align: center;
  margin: 0px 2px;
  display: block;
  color: #fff;
  width: 96px;
}

#sliderproduct .col-sm-4.mr-auto {
  margin-top: 22px;
}

#sliderproduct p.cr1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

#sliderproduct .col-sm-6:last-child {
  /* Cần nâng cao thêm kiến thức về sử dụng padding */
  padding-top: 27px;
  padding-bottom: 27px;
}
#sliderproduct .details p.d-inline-block {
  color: #e0794f;
}

#sliderproduct .details .fa {
  color: #e0794f;
  padding: 0px 3px;
}

#sliderproduct .rating {
  margin: 23px 0px;
}

#sliderproduct .details .btn {
  text-transform: uppercase;
  font-weight: 400;
  padding: 16px 22px;
  background: #e0794f;
  color: #fff;
  border-radius: 81px;
  font-size: 14px;
  display: inline-block;
}

#sliderproduct .details h2 {
  margin: 25px 0px 30px 0px;
  font-size: 24px;
  font-weight: 700;
}

#sliderproduct .details p.cr4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0px;
}
#sliderproduct .carousel-item{
  transition: 0.4s;
}


#sliderproduct a.carousel-control-prev, #sliderproduct a.carousel-control-next {
  border-radius: 50%;
  background-color: brown;
  width: 46px;
  height: 46px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  opacity: 1;
  top: 50%;
  transform: translate(-50%,-60%);
}

.bg {
  height: 570px;
  overflow: hidden;
}

#sliderproduct ol.carousel-indicators {
  display: none;
}

